
**/.DS_store
.venv
data/iiif_manifests
data/iiif_manifests.tar.gz
data/plain_text_rendering.parquet/*
data/imports/*
data/tmp/*
!data/imports/data_import_index.md
out
.env
**/__pycache__
**/.pytest_cache
**/spark-warehouse
**/metastore_db
*.egg-info/
chromium_user_data
data/dn_blocking_map.csv
data/dn_labels_blocking_map.parquet
data/sample_each_type_concept.xlsx
data/dn_labels_filtered_dedup_result.csv
data/dn_labels_dedup_data.csv
data/dn_labels_clustered_dupes.csv
data/name_rec/
data/name_rec_embeddings.npy
data/name_rec_faiss.index
data/works_with_images_no_text_partitioned.parquet**
data/works_with_images_no_text_partitioned_embedded.parquet**
data/vlm_embed/iiif_no_text_embedding_*
.env.name_rec
runs/
data/vlm_embed/
*.sqlite